p { 
  color: hsl(220, 15%, 55%);
  margin-bottom: 1rem;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 1em;
}

body {
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 16px;
  max-width: 320px;
}

.container-image__qr {
  border-radius: 10px;
  max-width: 320px;
}

.attribution {
  bottom: 0;
  margin-bottom: 1rem;
  position: fixed;
}
